Comenzamos importando las librerías necesarias para hacer EDA y ETL a los datos.

In [2]:
import pandas as pd
import numpy as np

Cargamos todos los datasets requeridos

In [3]:
amazondf = pd.read_csv(r'C:\Users\oomph\Documents\Henry Data Science\Proyecto Individual\Consignas PI\MLOpsReviews\amazon_prime_titles.csv')
disneydf = pd.read_csv(r'C:\Users\oomph\Documents\Henry Data Science\Proyecto Individual\Consignas PI\MLOpsReviews\disney_plus_titles.csv')
huludf = pd.read_csv(r'C:\Users\oomph\Documents\Henry Data Science\Proyecto Individual\Consignas PI\MLOpsReviews\hulu_titles.csv')
netflixdf = pd.read_csv(r'C:\Users\oomph\Documents\Henry Data Science\Proyecto Individual\Consignas PI\MLOpsReviews\netflix_titles.csv')

Damos inicio al proceso de EDA visualizando los datos que contiene cada dataset

In [4]:

amazondf.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [5]:

disneydf.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [6]:

huludf.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [7]:

netflixdf.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

Sumamos e identificamos valores nulos

In [8]:
amazondf.isna().sum()

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

In [9]:
disneydf.isna().sum()

show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
dtype: int64

In [10]:
huludf.isna().sum()

show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating           520
duration         479
listed_in          0
description        4
dtype: int64

In [11]:
netflixdf.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

Visualizamos la cantidad de columnas y filas de cada dataset

In [12]:
amazondf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [13]:
disneydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [14]:
huludf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [15]:
netflixdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

Identificamos valores duplicados

In [16]:
amazondf[amazondf.duplicated(keep=False)]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [17]:
disneydf[disneydf.duplicated(keep=False)]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [18]:
huludf[huludf.duplicated(keep=False)]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [19]:
netflixdf[netflixdf.duplicated(keep=False)]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

Primera Consigna:
Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets 
(ejemplo para títulos de Amazon = as123)

In [20]:
# Definir función para generar el campo id
def generar_id(row):
    plataforma = 'Amazon'
    show_id = row['show_id']
    primera_letra = plataforma[0].lower()
    
    return f"{primera_letra}{show_id}"

# Aplicar la función a cada fila y crear la nueva columna 'id'
amazondf['id'] = amazondf.apply(generar_id, axis=1)

# Verificar que la nueva columna 'id' se haya creado correctamente
print(amazondf.head())

  show_id   type                 title        director  \
0      s1  Movie   The Grand Seduction    Don McKellar
1      s2  Movie  Take Care Good Night    Girish Joshi
2      s3  Movie  Secrets of Deception     Josh Webber
3      s4  Movie    Pink: Staying True  Sonia Anderson
4      s5  Movie         Monster Maker    Giles Foster

                                                cast         country  \
0     Brendan Gleeson, Taylor Kitsch, Gordon Pinsent          Canada
1   Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar           India
2  Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...   United States
3  Interviews with: Pink, Adele, Beyoncé, Britney...   United States
4  Harry Dean Stanton, Kieran O'Brien, George Cos...  United Kingdom

       date_added  release_year rating duration                listed_in  \
0  March 30, 2021          2014    NaN  113 min            Comedy, Drama
1  March 30, 2021          2018    13+  110 min     Drama, International
2  March 30, 2021          2017    NaN   74 min  Action, Drama, Suspense
3  March 30, 2021          2014    NaN   69 min              Documentary
4  March 30, 2021          1989    NaN   45 min           Drama, Fantasy

                                         description   id
0  A small fishing village must procure a local d...  as1
1  A Metro Family decides to fight a Cyber Crimin...  as2
2  After a man discovers his wife is cheating on ...  as3
3  Pink breaks the mold once again, bringing her ...  as4
4  Teenage Matt Banting wants to work with a famo...  as5

In [21]:
amazondf.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,as2
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,as3
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",as4
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,as5

In [22]:
# Definir función para generar el campo id
def generar_id(row):
    plataforma = 'Disney+'
    show_id = row['show_id']
    primera_letra = plataforma[0].lower()
    
    return f"{primera_letra}{show_id}"

# Aplicar la función a cada fila y crear la nueva columna 'id'
disneydf['id'] = disneydf.apply(generar_id, axis=1)

# Verificar que la nueva columna 'id' se haya creado correctamente
print(disneydf.head())

  show_id     type                                             title  \
0      s1    Movie  Duck the Halls: A Mickey Mouse Christmas Special
1      s2    Movie                            Ernest Saves Christmas
2      s3    Movie                      Ice Age: A Mammoth Christmas
3      s4    Movie                        The Queen Family Singalong
4      s5  TV Show                             The Beatles: Get Back

                            director  \
0  Alonso Ramirez Ramos, Dave Wasson
1                        John Cherry
2                       Karen Disher
3                    Hamish Hamilton
4                                NaN

                                                cast        country  \
0  Chris Diamantopoulos, Tony Anselmo, Tress MacN...            NaN
1           Jim Varney, Noelle Parker, Douglas Seale            NaN
2  Raymond Albert Romano, John Leguizamo, Denis L...  United States
3  Darren Criss, Adam Lambert, Derek Hough, Alexa...            NaN
4  John Lennon, Paul McCartney, George Harrison, ...            NaN

          date_added  release_year rating  duration  \
0  November 26, 2021          2016   TV-G    23 min
1  November 26, 2021          1988     PG    91 min
2  November 26, 2021          2011   TV-G    23 min
3  November 26, 2021          2021  TV-PG    41 min
4  November 25, 2021          2021    NaN  1 Season

                       listed_in  \
0              Animation, Family
1                         Comedy
2      Animation, Comedy, Family
3                        Musical
4  Docuseries, Historical, Music

                                         description   id
0   Join Mickey and the gang as they duck the halls!  ds1
1  Santa Claus passes his magic bag to a new St. ...  ds2
2          Sid the Sloth is on Santa's naughty list.  ds3
3               This is real life, not just fantasy!  ds4
4  A three-part documentary from Peter Jackson ca...  ds5

In [23]:
disneydf.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,ds1
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,ds2
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,ds3
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!",ds4
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...,ds5

In [24]:
# Definir función para generar el campo id
def generar_id(row):
    plataforma = 'Hulu'
    show_id = row['show_id']
    primera_letra = plataforma[0].lower()
    
    return f"{primera_letra}{show_id}"

# Aplicar la función a cada fila y crear la nueva columna 'id'
huludf['id'] = huludf.apply(generar_id, axis=1)

# Verificar que la nueva columna 'id' se haya creado correctamente
print(huludf.head())

  show_id   type                           title director  cast country  \
0      s1  Movie  Ricky Velez: Here's Everything      NaN   NaN     NaN
1      s2  Movie                    Silent Night      NaN   NaN     NaN
2      s3  Movie                    The Marksman      NaN   NaN     NaN
3      s4  Movie                            Gaia      NaN   NaN     NaN
4      s5  Movie                        Settlers      NaN   NaN     NaN

         date_added  release_year rating duration                  listed_in  \
0  October 24, 2021          2021  TV-MA      NaN           Comedy, Stand Up
1  October 23, 2021          2020    NaN   94 min     Crime, Drama, Thriller
2  October 23, 2021          2021  PG-13  108 min           Action, Thriller
3  October 22, 2021          2021      R   97 min                     Horror
4  October 22, 2021          2021    NaN  104 min  Science Fiction, Thriller

                                         description   id
0  ​Comedian Ricky Velez bares it all with his ho...  hs1
1  Mark, a low end South London hitman recently r...  hs2
2  A hardened Arizona rancher tries to protect an...  hs3
3  A forest ranger and two survivalists with a cu...  hs4
4  Mankind's earliest settlers on the Martian fro...  hs5

In [25]:
huludf.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,hs1
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",hs2
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,hs3
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...,hs4
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,hs5

In [26]:
# Definir función para generar el campo id
def generar_id(row):
    plataforma = 'Netflix'
    show_id = row['show_id']
    primera_letra = plataforma[0].lower()
    
    return f"{primera_letra}{show_id}"

# Aplicar la función a cada fila y crear la nueva columna 'id'
netflixdf['id'] = netflixdf.apply(generar_id, axis=1)

# Verificar que la nueva columna 'id' se haya creado correctamente
print(netflixdf.head())

  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description   id
0  As her father nears the end of his life, filmm...  ns1
1  After crossing paths at a party, a Cape Town t...  ns2
2  To protect his family from a powerful drug lor...  ns3
3  Feuds, flirtations and toilet talk go down amo...  ns4
4  In a city of coaching centers known to train I...  ns5

In [31]:
# Cambiar el nombre de la columna 'id' a 'movieId'
amazondf.rename(columns={'id': 'movieId'}, inplace=True)

# Verificar que la operación se haya hecho correctamente
print(amazondf.columns)

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'movieId'],
      dtype='object')

Concatenar los dataframes para poder trabajar mejor los datos

In [33]:
# Agregar una columna 'plataforma' a cada DataFrame para identificar la plataforma
amazondf['plataforma'] = 'Amazon'
disneydf['plataforma'] = 'Disney+'
huludf['plataforma'] = 'Hulu'
netflixdf['plataforma'] = 'Netflix'

# Concatenar los DataFrames en uno solo
dataframes = [amazondf, disneydf, huludf, netflixdf]
df_catalogo = pd.concat(dataframes, ignore_index=True)

# Verificar que los DataFrames se hayan concatenado correctamente
df_catalogo.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,movieId,plataforma,id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1,Amazon,NaN
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,as2,Amazon,NaN
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,as3,Amazon,NaN
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",as4,Amazon,NaN
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,as5,Amazon,NaN

In [44]:
# crear la columna movieId concatenando la inicial de la plataforma y el show_id
df_catalogo['movieId'] = df_catalogo.apply(
    lambda row: row['plataforma'][0].lower() + str(row['show_id']),
    axis=1
)

# guardar el resultado en un nuevo archivo CSV
df_catalogo.to_csv('df_catalogo_with_movieId.csv', index=False)

# Verificar que la columna 'id' se haya eliminado correctamente
print(df_catalogo.head())

  show_id   type                 title        director  \
0      s1  Movie   The Grand Seduction    Don McKellar
1      s2  Movie  Take Care Good Night    Girish Joshi
2      s3  Movie  Secrets of Deception     Josh Webber
3      s4  Movie    Pink: Staying True  Sonia Anderson
4      s5  Movie         Monster Maker    Giles Foster

                                                cast         country  \
0     Brendan Gleeson, Taylor Kitsch, Gordon Pinsent          Canada
1   Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar           India
2  Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...   United States
3  Interviews with: Pink, Adele, Beyoncé, Britney...   United States
4  Harry Dean Stanton, Kieran O'Brien, George Cos...  United Kingdom

  date_added  release_year rating duration                listed_in  \
0 2021-03-30          2014      G  113 min            Comedy, Drama
1 2021-03-30          2018    13+  110 min     Drama, International
2 2021-03-30          2017      G   74 min  Action, Drama, Suspense
3 2021-03-30          2014      G   69 min              Documentary
4 2021-03-30          1989      G   45 min           Drama, Fantasy

                                         description plataforma movieId
0  A small fishing village must procure a local d...     Amazon     as1
1  A Metro Family decides to fight a Cyber Crimin...     Amazon     as2
2  After a man discovers his wife is cheating on ...     Amazon     as3
3  Pink breaks the mold once again, bringing her ...     Amazon     as4
4  Teenage Matt Banting wants to work with a famo...     Amazon     as5

Segunda Consigna: Los valores nulos del campo rating deberán reemplazarse por el string “G” corresponde al maturity rating: “general for all audiences”

In [36]:
# Reemplazar valores nulos en la columna 'rating' con el string 'G'
df_catalogo['rating'].fillna('G', inplace=True)

# Verificar que la operación se haya hecho correctamente
print(df_catalogo['rating'].unique())

['G' '13+' 'ALL' '18+' 'R' 'TV-Y' 'TV-Y7' 'NR' '16+' 'TV-PG' '7+' 'TV-14'
 'TV-NR' 'TV-G' 'PG-13' 'TV-MA' 'PG' 'NC-17' 'UNRATED' '16' 'AGES_16_'
 'AGES_18_' 'ALL_AGES' 'NOT_RATE' 'TV-Y7-FV' 'NOT RATED' '2 Seasons'
 '93 min' '4 Seasons' '136 min' '91 min' '85 min' '98 min' '89 min'
 '94 min' '86 min' '3 Seasons' '121 min' '88 min' '101 min' '1 Season'
 '83 min' '100 min' '95 min' '92 min' '96 min' '109 min' '99 min' '75 min'
 '87 min' '67 min' '104 min' '107 min' '84 min' '103 min' '105 min'
 '119 min' '114 min' '82 min' '90 min' '130 min' '110 min' '80 min'
 '6 Seasons' '97 min' '111 min' '81 min' '49 min' '45 min' '41 min'
 '73 min' '40 min' '36 min' '39 min' '34 min' '47 min' '65 min' '37 min'
 '78 min' '102 min' '129 min' '115 min' '112 min' '61 min' '106 min'
 '76 min' '77 min' '79 min' '157 min' '28 min' '64 min' '7 min' '5 min'
 '6 min' '127 min' '142 min' '108 min' '57 min' '118 min' '116 min'
 '12 Seasons' '71 min' '74 min' '66 min' 'UR']

Tercera Consigna: De haber fechas, deberán tener el formato AAAA-mm-dd

In [41]:

df_catalogo['date_added'] = pd.to_datetime(df_catalogo['date_added'], errors='coerce')

Cuarta Consigna: Los campos de texto deberán estar en minúsculas, sin excepciones

In [47]:

df_catalogo = df_catalogo.apply(lambda x: x.str.lower() if x.dtype == 'object' else x)

In [48]:
df_catalogo.sample(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataforma,movieId
383,s384,movie,the work and the glory,russell holt,"sam hennings, brenda strong, eric johnson, ale...",NaN,NaT,2004,pg,110 min,"drama, faith and spirituality, romance",recently moved to upstate new york from the co...,amazon,as384
10923,s1256,movie,the biscuit eater,vincent mceveety,"earl holliman, patricia crowley, lew ayres, go...",united states,2019-11-12,1972,g,93 min,"animals & nature, drama, family",two young boys try to transform a misfit hound...,disney+,ds1256
10559,s892,movie,flight of the navigator,randal kleiser,"joey cramer, veronica cartwright, cliff de you...",united states,2019-11-12,1986,pg,90 min,"action-adventure, science fiction",a boy mysteriously gains knowledge of the fart...,disney+,ds892
4579,s4580,movie,how to steal a dog,kim sung-ho,"kang hye-jung, lee re, hong eun-taek",NaN,NaT,2015,13+,110 min,"drama, kids","when her father goes bankrupt, an enterprising...",amazon,as4580
17540,s3350,movie,the old thieves: the legend of artegios,everardo gonzález,NaN,mexico,2019-11-01,2007,tv-ma,97 min,"documentaries, international movies","while carrying out prison sentences, five noto...",netflix,ns3350
11626,s509,movie,chaplin,NaN,NaN,NaN,2021-07-01,1993,pg-13,145 min,drama,chaplin is the larger-than-life story of the a...,hulu,hs509
2728,s2729,tv show,danger & eggs,NaN,"aidy bryant, eric knobel",united states,NaT,2017,7+,1 season,"comedy, kids",danger & eggs follows the endless adventures o...,amazon,as2729
14375,s185,tv show,sparking joy,NaN,marie kondo,united states,2021-08-31,2021,tv-pg,1 season,reality tv,"in this reality series, marie kondo brings her...",netflix,ns185
3394,s3395,movie,a reckoning,justin lee,"june dietrich, kevin makely, todd a. robinson,...",NaN,NaT,2018,g,81 min,"suspense, western","after her husband is brutally murdered, a wido...",amazon,as3395
19945,s5755,movie,sky ladder: the art of cai guo-qiang,kevin macdonald,cai guo-qiang,united states,2016-10-14,2016,tv-ma,80 min,documentaries,known for his spectacular pyrotechnic displays...,netflix,ns5755

Quinta Consigna: El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [51]:

df_catalogo[['duration_int', 'duration_type']] = df_catalogo['duration'].str.extract('(\d+) (\w+)')

# convertir duration_int a tipo numérico
df_catalogo['duration_int'] = pd.to_numeric(df_catalogo['duration_int'])


# guardar el resultado en un nuevo archivo CSV
df_catalogo.to_csv('df_catalogo_v1.csv', index=False)

In [52]:
df_catalogo.sample(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataforma,movieId,duration_int,duration_type
21815,s7625,tv show,nuestra lucha libre,NaN,NaN,NaN,2018-08-15,2018,tv-ma,1 season,"docuseries, international tv shows, spanish-la...",this documentary series lifts the mask on mexi...,netflix,ns7625,1.0,season
660,s661,tv show,the first 48 presents: homicide squad atlanta,NaN,adam iii lee,NaN,NaT,2019,tv-14,1 season,tv shows,a beautiful teenager is found naked and shot t...,amazon,as661,1.0,season
7824,s7825,movie,bhaskar oru rascal,siddique,"arvind swamy, amala paul, baby nainika, master...",NaN,NaT,2018,13+,145 min,"action, comedy","bhaskar, a single parent, is labelled rascal b...",amazon,as7825,145.0,min
4538,s4539,movie,address unknown,shawn levy,"patrick renna, kyle howard, corbin allred, mic...",NaN,NaT,1997,pg,83 min,"action, drama, suspense","10 years after their fathers' deaths, two teen...",amazon,as4539,83.0,min
6732,s6733,movie,scavengers,giovanni jennings,"christian mohr, cole voss, anisa maggiore, gab...",NaN,NaT,2021,13+,46 min,"drama, suspense","ben, a senior in high school, finds a paper cl...",amazon,as6733,46.0,min
6836,s6837,movie,vampire strippers,royce davis,"foresteen hood, aaron l. toland ii, lola lucia...",NaN,NaT,2021,18+,81 min,"comedy, horror",a sixteenth century romanian vampire king rise...,amazon,as6837,81.0,min
11346,s229,movie,"yandel: legacy, de lider a leyenda tour",NaN,NaN,NaN,2021-09-15,2015,tv-14,NaN,"documentaries, international, latino",puerto rican reggaeton legend yandel makes a s...,hulu,hs229,NaN,NaN
6098,s6099,tv show,blood on the deck,NaN,"dakota meyer, dick hy, jarred taylor",NaN,NaT,2020,tv-14,1 season,"documentary, special interest, unscripted",three teams of american heroes give it everyth...,amazon,as6099,1.0,season
18931,s4741,movie,invisible,pablo giorgelli,"mora arenillas, mara bestelli, diego cremonesi","argentina, france",2018-08-01,2017,tv-ma,87 min,"dramas, independent movies, international movies","after learning she's pregnant, a teen grapples...",netflix,ns4741,87.0,min
12845,s1728,tv show,songland,NaN,NaN,NaN,2020-04-14,2019,tv-pg,1 season,"music, reality","top music producers ester dean, shane mcanally...",hulu,hs1728,1.0,season